html{
    width: 100vw;
    height: 100vh;
    display: flex;
}

body{
    width: 100%;
}

.container {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.nav-title{
    color: #2E2667;
}

.add-car{
    display: flex;
    align-items: center;
}

.add-car-button{
    color: #FFFFFF;
    background-color: rgb(86, 105, 247, 0.7);
    border-radius: 7px;
    border: 2px #2E2667 groove;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 50px;
    padding: 10px 10px 7px 10px;
}

.add-car-button:hover{
    background-color: rgb(86, 105, 247);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: gold;
}

.filter{
    display: flex;
    align-items: center;
}

#filterType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px rgb(118, 118, 118) groove;
    margin: 7px;
    box-sizing: border-box;
}

#filterValue{
    height: 50px;
    box-sizing: border-box;
}

.filter-button{
    height: 50px;
    padding: 10px 12px 7px 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px rgb(118, 118, 118) groove;
    margin: 7px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgb(86, 105, 247, 0.7);
}

.filter-button:hover{
    background-color: rgb(86, 105, 247);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: gold;
}

.txt-filter{
    font-size: 18px;
}

#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

#currentPage{
    background-color: rgb(86, 105, 247);
    color: gold;
    padding: 2px 7px;
    border: 1px black groove;
    border-radius: 4px;
}

#prevPage, #nextPage {
    cursor: pointer;
    padding: 0 3px;
}

#prevPage:hover, #nextPage:hover {
    cursor: pointer;
    color: goldenrod;
}

.car-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-inline-start: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 14px;
    background-color: rgb(86, 105, 247);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
    border-width: 2px;
    border-style: groove;
    border-color: #2E2667;
    height: fit-content;
}

.card:hover{
    background-color: rgb(86, 105, 247, 0.7);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.txt-price {
    font-size: 26px;
    font-weight: bold;
    text-align: end;
    color: gold;
}

.txt-model {
    font-size: 18px;
    font-weight: 700;
    color: #2E2667;
}

.txt-year {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.txt-brand {
    font-size: 22px;
    font-weight: bolder;
    /* color: #2E2667; */
    color: #FFFFFF;
}

.delete-button {
    position: absolute;
    align-self: flex-end;
    background-color: red;
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 7px;
    cursor: pointer;
}

.delete-button:hover{
    color: gold;
}

.nodata-span{
    font-size: 18px;
    color: #2E2667;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para o modal */
.form-contact {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-car {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    padding: 20px 70px 30px 70px;
    border: 1px solid #888;
    border-radius: 16px;
    border: 2px black groove;
    height: fit-content;
}

.get-car-container {
    display: flex;
    flex-direction: column;
}

#get-car {
    font-size: 24px;
    color: #2E2667;
    font-weight: 600;
}

#get-car-price {
    font-size: 28px;
    color: goldenrod;
    font-weight: 600;
}

.form-title{
    color: #2E2667;
    margin: 7px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.contact-form, .car-form{
    display: flex;
    flex-direction: column;
}

.field{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

label{
    font-weight: 600;
    color: #2E2667;
}

.form-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-list{
    display: grid;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline-start: 0;
    height: 300px;
    color: gold !important;
}

.car-contacts{
    display: none;
    color: #2E2667;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
}

.back-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    color: #2E2667;
    text-decoration: underline;
    cursor: pointer;
}

.back-button:hover{
    color: goldenrod;
}

.contact-item{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.span-contacts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    color: #2E2667;
    text-decoration: underline;
    cursor: pointer;
}

.span-contacts:hover{
    color: goldenrod;
}

.submit-button{
    margin-top: 14px;
    padding: 10px;
    width: 30%;
    background-color: rgb(86, 105, 247);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}

.submit-button:disabled{
    background-color: #aaa;
}

.closed, .closed-car {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closed:hover,
.closed:focus ,
.closed-car:hover,
.closed-car:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .filter{
        flex-direction: column;
    }

    .car-list{
        grid-template-columns: 1fr 1fr !important;
    }

    .nav-title{
        display: none;
    }
}
